﻿
@{
    ViewBag.Title = "Index";
}

<style>

    #output {
        min-height: 200px;
        border: dashed 1px #d6d6d6;
        overflow: auto;
    }

</style>

<br />

<div class="modal fade bs-arv-modal" tabindex="-1" role="dialog" aria-labelledby="bs-arv-modal" data-keyboard="false" data-backdrop="static" id="arv-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">SuperClient</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <nav id="arv">
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>




<br />

<div class="row">
    
    <div class="">

        <div class="col-lg-6" id="output">
            
        </div>
        
        <form class="col-lg-6">
            <div class="row">
                <div class="col-lg-6">
                    <select class="form-control command-select" data-command="alterar_status" > 
                        <option>Status</option>
                        <option value="1">Agendado</option>
                        <option value="2">Aguardando Complemento</option>
                        <option value="3">Finalizado</option>
                        <option value="4">Negado</option>
                        <option value="5">Pendente</option>
                    </select>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control command" placeholder="Cpf" id="cpf" data-command="buscar_beneficiario" />
                        <span class="input-group-btn">
                            <button class="btn btn-default command-action" data-id="#cpf" type="button">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control command" placeholder="Carteirinha" id="carteirinha" data-command="buscar_beneficiario_cart">
                        <span class="input-group-btn">
                            <button class="btn btn-default command-action" data-id="#carteirinha" type="button">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Prestador" id="prestador" data-command="buscar_prestador">
                        <span class="input-group-btn">
                            <button class="btn btn-default command-action" data-id="#prestador" type="button">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <button type="button" class="btn btn-primary btn-md btn-block command-button" data-command="pegar_dados_tela">Pegar Dados</button>
                </div>
            </div>
        </form>

    </div>


</div>




